h1 Edit Trip

== render 'form'
/ = form_for @trip, url: { controller: 'trips', action: 'update' } do |f|
/   = f.label 'Title:'
/   = f.text_field :title

/   br

/   = f.label 'Where:'
/   = f.text_field :where

/   br

/   = f.label 'When (start):'
/   = f.date_select :when_start, order: [:day, :month, :year]

/   br

/   = f.label 'When (end):'
/   = f.date_select :when_end, order: [:day, :month, :year]

/   br

/   = f.label 'Thumbnail:'
/   = f.file_field :thumb

/   br

/   #ace
/   = f.text_area :markdown

/   br

/   = f.submit class: 'submit-btn'
