- content_for :title
  = @title

h1 Trips

.trip-thumbnails
  - @trips.each do |trip|
    .trip-thumb
      = image_tag trip.thumb.url(:thumb)
      .caption
        = link_to trip.where, trip_path(trip)
        | ,&nbsp;
        span class='when'
          - if trip.when_start.month == trip.when_end.month
            = trip.when_start.strftime('%B %Y')
          - else
            = trip.when_start.strftime('%B')
            | –
            = trip.when_end.strftime('%B %Y')
