- content_for :title
  = @trip.title

.post.trip-post
  h1 = @trip.title
  - if current_user
    .adm
      ul[class="post-control"]
        li
          = link_to edit_trip_path(@trip) do
            i class="fa fa-pencil-square-o"
        li
          = link_to "delete", @trip, method: :delete, data: {confirm: "Are you sure?"}
  #timespan
    - if @trip.when_start == @trip.when_end
      = @trip.when_start.strftime('%B %d, %Y')
    - elsif @trip.when_start.month != @trip.when_end.month
      = @trip.when_start.strftime('%B %d')
      | &nbsp;...&nbsp;
      = @trip.when_end.strftime('%B %d, %Y')
    - else
      = @trip.when_start.strftime('%B %d')
      | –
      = @trip.when_end.strftime('%d, %Y')
  .post-content
    == @trip.html
