#banner
  background-color: #f6f6f6
  margin: 0 -25px
  overflow: hidden
  border-right: 1px solid #fff
  border-left: 1px solid #fff
  border-top: 1px solid #fff
  box-shadow: 0px -1px 3px #dfdfdf

  .content
    margin: 0 auto
    width: 65%

    .description
      font-size: 105%
      width: 70%
      float: left
      margin-right: 36px

    .avatar
      figure
        margin: 0
        position: relative
        top: 60px
        float: right

        img
          box-shadow: 2px 2px 2px #3a3a3a
          border-top: 1px solid #302e2e
          border-left: 1px solid #302e2e
          border-right: 1px solid #666
          border-bottom: 1px solid #666
