<!DOCTYPE html>
<html class="no-js">
  <head>
    <title><%= @title || "Kyrylo Silin"%></title>

    <script src="/javascripts/application.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>document.documentElement.classList.remove("no-js");</script>
    <link rel="stylesheet" media="all" href="/stylesheets/application.css">

    <meta name="description" content="Kyrylo Silin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="apple-mobile-web-app-title" content="Kyrylo Silin">
    <meta name="application-name" content="Kyrylo Silin">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon.png">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#777777">
  </head>

  <body>
    <header>
      <% if request.path == '/' %>
        <img src="/images/avatar.png" class="logo" title="Logo">
        <h1 class="display-inline">Kyrylo Silin</h1>
      <% else %>
        <a href="/" class="static-link"><img src="/images/avatar.png" class="logo" title="Logo"><h1 class="display-inline">Kyrylo Silin</h1></a>
      <% end %>

      <span class="social">
        <a href="https://github.com/kyrylo" class="no-underline">
          <img src="/images/github.svg" class="social__icon" title="GitHub profile - kyrylo">
        </a>
        <a href="https://twitter.com/kyrylosilin" class="no-underline">
          <img src="/images/twitter.svg" class="social__icon" title="Twitter profile - kyrylosilin">
        </a>
      </span>

      <p class="slogan">
        Full-stack developer at <a href="https://airbrake.io" class="static-link">Airbrake.io</a>.
        Core team <a href="http://pryrepl.org" class="static-link">Pry</a>. Passionate about open
        source, debuggers and food.
      </p>
    </header>

    <%= yield %>

    <footer>
      <div class="position-relative">
        <img src="/images/rabbit.png" class="rabbit">

        <div class="speech-bubble">
          <b>Fin.</b>
          <div class="speech-bubble-arrow"></div>
        </div>
      </div>
    </footer>
  </body>
</html>
