<footer>
  <hr>
  <small>
    <p><a href="{{ '/' | relative_url }}">Kyrylo Silin</a> — entrepreneur, software engineer, and web developer.</p>
    <p>
      Find me on:
      <a href="https://x.com/kyrylo" target="_blank">x</a>
      &middot;
      <a href="https://bsky.app/profile/kyrylo.org" target="_blank">bluesky</a>
      &middot;
      <a href="https://mastodon.social/@kyrylosilin" target="_blank">mastodon</a>
    </p>
    <p>
      <a href="{{ "/feed.xml" | relative_url }}">ATOM feed</a>
      |
      <a href="https://github.com/kyrylo/kyrylo.org">GitHub</a> (CC BY-NC-SA 4.0)
    </p>
    <p>Last modified: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: "%B %d, %Y" }}</time></p>
  </small>
</footer>
