<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}
  {%- feed_meta -%}

  <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Kyrylo Silin" />
  <link rel="manifest" href="/assets/images/site.webmanifest" />

  <style>
    body {
      font: 14px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
      line-height: 1.5;
    }

    main, footer {
      max-width: 700px;
      margin: 0 auto;
    }

    footer {
      font-style: italic;
    }

    pre {
      overflow: auto;
    }

    .article img {
      max-width: 100%;
    }

    .article a, code {
      word-break: break-all;
    }
  </style>
</head>
