body
  background-color: #eff4f8

#layout
  background-color: #fff
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3)

nav
  border-top: 1px solid #eee

  a
    color: #444444
    border-bottom: 1px solid rgba(68, 68, 68, 0.6)
    transition: color 0.25s ease-out, background 0.25s ease-out, border-color 0.25s ease-out, box-shadow 0.25s ease-out

    &:hover
      color: #eb5353
      border-bottom: 1px solid #eb5353
