body
  background-color: #eff4f8
  color: #2c2c2c

a
  +transition((color 0.25s ease-out, border-bottom 0.25s ease-out))
  color: #5ab3ee
  text-decoration: none
  border-bottom: 1px solid rgba(90, 179, 238, 0.4)

  &:hover
    color: #ee5a83
    border-bottom: 1px solid rgba(238, 90, 131, 0.4)

nav
  border-top: 1px solid #eee

  a
    +transition((color 0.25s ease-out, border-bottom 0.25s ease-out))
    color: #444444
    border-bottom: 1px solid rgba(68, 68, 68, 0.6)

    &:hover
      color: #eb5353
      border-bottom: 1px solid #eb5353

#layout
  background-color: #fff
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3)

footer
  background-color: #fff

  #rainbow
    +linear-gradient((left, #ff0000, #ffa500, #ffff00, #008000, #00ffff, #0000ff, #800080))

    .red
      +box-shadow(0px -1px 6px red)
    .orange
      +box-shadow(0px -1px 6px orange)
    .yellow
      +box-shadow(0px -1px 6px yellow)
      .right
        +box-shadow(0px -1px 6px rgba(53, 151, 14, 0.47))
    .green
      +box-shadow(0px -1px 6px green)
    .cyan
      +box-shadow(0px -1px 6px cyan)
    .blue
      +box-shadow(0px -1px 6px blue)
    .violet
      +box-shadow(0px -1px 6px violet)

  .content
    a
      color: #888
      border-bottom: 1px solid rgba(136, 136, 136, 0.4)

      &:hover
        color: #000
        border-bottom: 1px solid rgba(0, 0, 0, 0.4)
