#layout
  width: 1033px
  margin: 40px auto 0 auto
  overflow: hidden

#main
  padding: 25px

header
  margin-top: 11px

  a, a:hover
    border-bottom: none

nav
  text-align: center
  margin-top: 16px
  margin-bottom: 35px
  padding-top: 6px
  text-transform: uppercase
  font-weight: 700

  ul
    list-style-type: none
    margin: 0 auto
    padding: 0

    li
      display: inline-block
      margin: 0 5px

      a
        font-weight: normal
