html, body
  height: 100%

#sticky-footer
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -103px
  overflow: hidden

#layout
  width: 1033px
  margin: 0px auto 65px auto
  margin-top: 40px
  overflow: hidden

#main
  padding: 25px

header
  margin-top: 11px

  a, a:hover
    border-bottom: none

nav
  text-align: center
  margin-top: 16px
  margin-bottom: 35px
  padding-top: 6px
  text-transform: uppercase

  ul
    list-style-type: none
    margin: 0 auto
    padding: 0

    li
      display: inline-block
      margin: 0 5px

#content
  .article
    img
      max-width: 100%

    .figure
      margin-bottom: 3em

      img
        max-width: 85%
        padding: 1px
        border: 1px solid #dddddd
        +box-shadow(1px 1px 2px #c7c6c6)

      .caption
        margin-top: 9px
        font-style: italic

    .center
      text-align: center

footer, .push
  height: 103px

footer
  .rainbow
    height: 4px
    width: 100%

    .gradient
      width: 14.28%
      height: 1px
      float: left
      position: relative
      z-index: -1

    .yellow .right
      width: 50%
      height: 2px
      float: right

  .content
    width: 1033px
    margin: 0 auto
    padding-top: 26px

    ul
      margin: 0
      padding: 0 25px
      list-style-type: none
      float: left

      li
        display: inline
        margin-right: 23px

    #powered-by
      text-align: center
      width: 30%
      margin: 0 auto
      float: left

    #contact-info
      float: right
      padding-right: 25px

      .left
        text-align: right
        padding-right: 15px

      .right
        text-align: left

.fotorama
  margin-bottom: 3em
