html, body
  height: 100%

#layout
  width: 1033px
  margin: 40px auto 165px auto
  overflow: hidden

#main
  padding: 25px

header
  margin-top: 11px

  a, a:hover
    border-bottom: none

nav
  text-align: center
  margin-top: 16px
  margin-bottom: 35px
  padding-top: 6px
  text-transform: uppercase
  font-weight: 700

  ul
    list-style-type: none
    margin: 0 auto
    padding: 0

    li
      display: inline-block
      margin: 0 5px

      a
        font-weight: normal

#sticky-footer
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -103px

footer, .push
  height: 103px

footer #rainbow
  height: 4px
  width: 100%
