<ul>
  <% @posts.each do |p| %>
    <li class="article-list__item">
      <span class="article-list__post-date">
        <%= p.created_at.strftime('%d %b, %Y') %>
      </span>
      <span><%= link_to p.title, post_path(p) %></span>
    </li>
  <% end %>
</ul>
