<div class="section">
  <ul>
    <% @posts.each do |p| %>
      <li>
        <span class="post-date"><%= p.created_at.strftime('%d %b, %Y') %></span>
        <span><%= link_to p.title, post_path(p) %></span>
      </li>
    <% end %>
  </ul>
</div>
