<div class="description">
  <p>
    Welcome to the personal site of Kyrylo Silin. I&#8217;m a Ukrainian
    programmer who works at <a href="https://airbrake.io">Airbrake</a>. My
    passion is building tools that help other programmers understand and debug
    their programs.
  </p>
  <p>
    I am an admirer of the open source culture, therefore I regularly
    contribute. I&#8217;m a core team member of <a href="http://pryrepl.org">Pry</a>,
    a popular Ruby project.
  </p>
  <p>
    My credo is this famous quote by Alan Kay: &#8220;The best way to predict
    the future is to invent it&#8221;.
  </p>
  <p>
    P.S. The <%= image_tag_with_at2x 'wolf-emoji.png', class: 'wolf-emoji' %> is
    clickable.
  </p>
</div>

<div class="avatar">
  <div class="front"><%= figure_tag 'avatar.png', size: '158x180', title: 'Avatar' %></div>
  <div class="back">
    <figure>
      <%= image_tag_with_at2x 'me.jpg', size: '158x180', title: 'Photograph' %>
    </figure>
  </div>
</div>
