<div id="banner">
  <div class="content"><%= render 'banner' %></div>
</div>

<div class="activity">
  <div class="activity__projects">
    <h1>Projects</h1>
    <%= render 'project_list' %>
  </div>

  <div class="article-timeline">
    <h1>Articles</h1>
   <%= render 'article_list' %>
  </div>
</div>

<div class="trips">
  <h1>Trips</h1>
  <%= render 'trip_list' %>
</div>
