.footer {
  display: flex;
  margin: 48px 0 0;
  line-height: 32px;
}

.footer__left,
.footer__right {
  width: 50%;
}

.footer__link {
  color: $grey-400;
  border-bottom: 1px solid $greya-400;

  &:visited {
	color: $grey-400;
	border-bottom: 1px solid $greya-400;
  }

  &:hover {
	color: $black;
	border-bottom: 1px solid $blacka;
  }
}

.footer-menu__item {
  display: inline;
}

.siteinfo__item {
  display: list-item;
}

.contacts {
  float: right;
}

.contacts__label {
  display: inline-block;
  padding: 0 15px 0;
  width: 140px;
  text-align: right;
}

.contacts__icon-link {
  position: relative;
  top: 3px;
  border: 0 !important;
  margin-right: 8px;
}

.contacts__social-icon {
  width: 22px;
}

.small-xx {
  font-size: $fontXXSmall;
}

@media screen and (max-width: $viewportSmall) {
  .footer {
    display: block;
  }

  .footer__left,
  .footer__right {
    width: 100%;
  }

  .footer__left {
    text-align: center;
  }

  .footer__right {
    margin: 0 auto;
    width: 320px;
  }

  .contacts {
    float: none;
  }

  .contacts__item {
    min-width: 400px;
  }
}
