.footer {
  margin: 48px 0 0;
  line-height: 32px;
}

.float-right {
  float: right;
}

.footer__rabbit {
  padding: 45px 0 0 12px;
}

.contacts__icon-link {
  position: relative;
  top: 3px;
  border: 0 !important;
  margin-right: 8px;
}

.contacts__social-icon {
  width: 22px;
}

.small-xx {
  font-size: $fontXXSmall;
}
