.footer {
  margin: 48px 0 0;
  line-height: 32px;
}

.float-right {
  float: right;
}

.footer__rabbit {
  padding: 45px 0 0 12px;
}

.footer__link {
  color: $grey-400;
  border-bottom: 1px solid $greya-400;

  &:visited {
	color: $grey-400;
	border-bottom: 1px solid $greya-400;
  }

  &:hover {
	color: $black;
	border-bottom: 1px solid $blacka;
  }
}

.contacts__icon-link {
  position: relative;
  top: 3px;
  border: 0 !important;
  margin-right: 8px;
}

.contacts__social-icon {
  width: 22px;
}

.small-xx {
  font-size: $fontXXSmall;
}
