.header__text {
  padding: 0 0 0 98px;
  max-width: 680px;
  font-family: Playfair Display SC, Georgia, serif;
}

.header-title {
  float: left;
  margin: 0;
  padding-bottom: 12px;
  font-size: $fontXXLarge;
  letter-spacing: 1px;
  color: #2c2c2c;
  transition: color 0.25s ease-out;
}

.header-title--highlighted {
  color: #ee5a83 !important;
  border-bottom: 1px solid rgba(238, 90, 131, 0.2) !important;
}

.header-title__link,
.header-title__link:visited {
  border-bottom: 1px solid rgba(44, 44, 44, 0.2);
  color: $black;
  transition: color 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
}

.header-title__link:hover {
  border-bottom: 1px solid $purplea-400;
  color: $red-400;
}

.social-media {
  overflow: hidden;
  padding-left: 15px;
  padding-top: 2px;
}

.float-left {
  float: left;
}

.header-bio {
  margin: 0 0 16px;
}
