$blue-400: #5ab3ee; // main shade
$bluea-400: rgba(90, 179, 238, 0.2);

$purple-400: #702ead; // main shade
$purplea-400: rgba(112, 46, 173, 0.2);

$red-400: #ee5a83; // main shade
$reda-400: rgba(238, 90, 131, 0.2);

$grey-400: #888888; // main shade
$greya-400: rgba(136, 136, 136, 0.2);

$black: #2c2c2c;
$blacka: rgba(44, 44, 44, 0.2);
$white: #ffffff;
