$fontXXSmall: 12px;
$fontXSmall: 14px;
$fontSmall: 15px;
$fontDefault: 17px;
$fontLarge: 21px;
$fontXLarge: 25px;
$fontXXLarge: 32px;
$fontXXXLarge: 42px;

$viewportTiny: 640px;
$viewportSmall: 768px;
$viewportLarge: 980px;

$sansFontFamily: 'Source Serif Pro', Georgia, Times, 'Times New Roman', serif;
$monoFontFamily: Consolas, "Liberation Mono", Menlo, Courier, monospace;
