$fontXXSmall: 12px;
$fontXSmall: 14px;
$fontSmall: 15px;
$fontDefault: 17px;
$fontLarge: 21px;
$fontXLarge: 25px;
$fontXXLarge: 32px;
$fontXXXLarge: 42px;

$viewportSmall: 768px;

$sansFontFamily: 'Source Serif Pro', Georgia, Times, 'Times New Roman', serif;
$code-font-stack: Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
$post-code-font-stack: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$default-link-colour: $blue-400;
$default-link-border: 1px solid $bluea-400;

$default-visited-link-colour: $purple-400;
$default-visited-link-border: 1px solid $purplea-400;

$default-hover-link-colour: $red-400;
$default-hover-link-border: 1px solid $reda-400;
