<h2 class="cv__name">Kyrylo Silin</h2>
<ul class="cv__contacts">
  <li>Kharkiv, Ukraine (<a href="https://goo.gl/maps/ByrscPERLyM2">map</a>)</li>
  <li><%= link_to 'silin@kyrylo.org', 'mailto:silin@kyrylo.org' %></li>
  <li>+380 98 909-30-34</li>
</ul>
