<div class="year">January 2015</div>
<div>
  <%= link_to 'Kharkiv National University of Radioelectronics', 'http://nure.ua/en' %>,
  Kharkiv, Ukraine
</div>
<div>
  Master of Science,
  <%= link_to 'Computer Science', 'http://nure.ua/en/university/structure/departments/kn/' %>
</div>
<div>
  Major in <%= link_to 'Information Control Systems and Technology', 'http://nure.ua/en/university/structure/departments/kn/ius/' %>
</div>

<br>

<div class="year">Summer-Autumn 2014</div>
<div>Kharkiv National University of Radioelectronics, Kharkiv, Ukraine</div>
<div>Bachelor of Science, Computer Science</div>
<div>Major in Information Control Systems and Technology</div>
