<ul>
  <li>
    &ldquo;How I interned at a San Francisco startup and went home&rdquo; (in Russian)
    <%= link_to 'https://habrahabr.ru/post/285666/' %>, September 2014
  </li>
  <li>
    &ldquo;Optimisation of business processes of an Internet Service Provider
    with help of the ARIS methodology&rdquo;, Radioelectronics and youth in XXI
    century, Kharkiv, Ukraine, April 2014.
  </li>
  <li>
    &ldquo;So what is &lsquo;binding.pry&rsquo; exactly?&rdquo;
    <%= link_to 'http://kyrylo.org/posts/so-what-is-binding-pry-exactly' %>, May 2013
  </li>
</ul>
