#footer {
  font-size: $fontSmall;
  margin: 48px 0 0;

  a {
	color: $footer-link-colour;
	border-bottom: $footer-link-border;

	&:visited {
	  color: $footer-visited-link-colour;
	  border-bottom: $footer-visited-link-border;
	}

	&:hover {
	  color: $footer-hover-link-colour;
	  border-bottom: $footer-hover-link-border;
	}
  }

  .extra-links {
    float: left;

    @media screen and (max-width: $medium-screen) {
      float: none;
    }

    .item {
	  margin-right: 23px;
	  white-space: nowrap;
	}
  }

  #footer-menu, #powered-by, #contact-info {
    line-height: 2;
  }

  #powered-by {
    li {
      display: block;
    }
  }

  #contact-info {
	float: right;

	.left {
	  text-align: right;
	  padding-right: 15px;
	}

	.right {
	  text-align: left;
	}
  }

  @media screen and (max-width: $medium-screen) {
    #footer-menu {
	  margin: 0 auto;
	  max-width: 100%;
	}

	#powered-by {
	  float: none;
	  width: 100%;
	  margin-bottom: 25px;
	}


	#contact-info {
	  width: 100%;

	  table {
		margin: 0 auto;
	  }
	}
  }
}
.contact-info__icon-link {
  position: relative;
  top: 3px;
  border: 0 !important;
  margin-right: 8px;
}

.contact-info__social-icon {
  width: 18px;
}

#contact-info {
  span {
	font-size: $fontXXSmall;
  }
}
