#site-logo {
  #logotype {
    float: left;
    margin-right: 10px;
    margin-top: 8px;
  }

  #site-title {
    @include transition(color 0.25s ease-out);
    position: relative;
    font-family: Playfair Display SC, Georgia, serif;
    font-size: 175%;
    letter-spacing: 1px;
    line-height: 120%;
    color: #2c2c2c;
    float: left;

    div.oddlink--highlighted {
      color: #ee5a83;
      cursor: pointer;
      border-bottom: 1px solid rgba(238, 90, 131, 0.4);
    }

    .author {
      display: inline;
      position: relative;
      left: 14px;
    }

    .oddlink {
      @include transition((color 0.25s ease-in-out, border-bottom 0.25s ease-in-out));
      border-bottom: 1px solid rgba(44, 44, 44, 0.2);
    }

    .slogan {
      margin-left: 14px;
      margin-top: 5px;
    }

    .slogan::before {
      content: '\201C';
      position: absolute;
      left: 2px;
    }

    .slogan::after {
      content: '\201D';
      position: absolute;
    }
  }
}
