#site-logo {
    overflow: hidden;
    float: left;
    margin-bottom: 16px;
    height: 68px;

    #logotype {
	float: left;
	margin-right: 10px;
    }

    #site-title {
	@include transition(color 0.25s ease-out);
	font-family: Playfair Display SC, Georgia, serif;
	font-size: 175%;
	letter-spacing: 1px;
	line-height: 120%;
	color: #2c2c2c;
	float: left;

	.author {
	    position: relative;
	    left: 14px;
	}
    }
}
