html, body {
  height: 100%;
}

body {
  font-family: $default-font-stack;
  color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
  font-weight: normal;
}

h1 {
  font-size: 200%;
  margin-top: 11px;
  margin-bottom: 12px;
}

h2 {
  font-size: 180%;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 80%;
}

h6 {
  font-size: 70%;
}

a {
  @include transition((color 0.25s ease-out, border-bottom 0.25s ease-out));
  color: $default-link-colour;
  text-decoration: none;
  border-bottom: $default-link-border;

  &:visited {
	color: $default-visited-link-colour;
	border-bottom: $default-visited-link-border;
  }

  &:hover {
	color: $default-hover-link-colour;
	border-bottom: $default-hover-link-border;
  }
}

figcaption {
  font-family: $caption-font-stack;
  font-size: 90%;
  font-style: italic;
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 1.25em;
}

header {
  margin-top: 11px;
  margin-bottom: 18px;
  float: left;
  width: 100%;
  border-bottom: 1px solid whitesmoke;

  a, a:hover {
    border-bottom: none;
  }
}

footer, .push {
  height: 120px;
}

@media screen and (max-width: $medium-screen) {
  footer, .push {
	height: 210px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer {
  background-color: #fff;
  font-family: $caption-font-stack;
  font-size: 90%;

  ul {
	padding: 0 25px;
	float: left;

	li {
	  display: inline-block;
	}
  }

  @media screen and (max-width: $medium-screen) {
	ul {
	  float: none;
	  text-align: center;
	  margin-bottom: 25px;
	}
  }
}

pre {
  background-color: #fffffa;
  padding: 1em;

  code {
	line-height: 1.4;
  }
}

pre code, code {
  font-size: 90%;
  font-family: $code-font-stack;
}

blockquote {
  font-family: $caption-font-stack;
  font-style: italic;
  font-size: 90%;
  max-width: 450px;
  padding: 20px;
  background-color: whitesmoke;
  margin-left: 20px;

  p {
	margin-bottom: 5px;
  }
}
