h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: $fontXXLarge;
}

h2 {
  font-size: $fontXLarge;
}

h3 {
  font-size: $fontLarge;
}

h4,
h5,
h6 {
  font-size: $fontDefault;
}

a {
  border-bottom: 1px solid $bluea-400;
  color: $blue-400;
  text-decoration: none;
  transition: color 0.25s ease-out, border-bottom 0.25s ease-out;

  &:visited {
    border-bottom: 1px solid $purplea-400;
    color: $purple-400;
  }

  &:hover {
    border-bottom: 1px solid $purplea-400;
    color: $red-400;
  }
}

figcaption {
  font-size: $fontSmall;
  font-style: italic;
  text-align: center;
}

.header {
  overflow: hidden;
  margin: 11px 0 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

pre {
  background-color: #fffffa;
  padding: 1em;

  code {
    line-height: 1.4;
  }
}

pre code, code {
  font-size: $fontXSmall;
  font-family: $monoFontFamily;
}

blockquote {
  font-style: italic;
  font-size: $fontSmall;
  max-width: 450px;
  padding: 20px;
  background-color: whitesmoke;
  margin-left: 20px;

  p {
    margin-bottom: 5px;
  }
}
