/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file
 * per style scope.
 *
 */

@import 'normalize-rails';
@import 'fotorama';

@import 'mixins';
@import 'fonts';
@import 'tags';
@import 'github';

#contact-info {
    span {
	font-size: 9px;
    }
}

.rainbow {
    @include linear-gradient((left, red, orange, yellow, green, cyan, blue, purple));
    .red {
	@include box-shadow(0px -1px 6px red);
    }
    .orange {
	@include box-shadow(0px -1px 6px orange);
    }
    .yellow {
	@include box-shadow(0px -1px 6px yellow);
	.right {
	    @include box-shadow(0px -1px 6px rgba(53, 151, 14, 0.47));
	}
    }
    .green {
	@include box-shadow(0px -1px 6px green);
    }
    .cyan {
	@include box-shadow(0px -1px 6px cyan);
    }
    .blue {
	@include box-shadow(0px -1px 6px blue);
    }
    .violet {
	@include box-shadow(0px -1px 6px violet);
    }
}

#layout {
    background-color: white;
    max-width: 100%;
    margin: 0px auto 65px auto;
    margin-top: 0px;
    overflow: hidden;
}

#sticky-footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
    overflow: hidden;
}

footer #footer-menu {
    max-width: 370px;
}

@media screen and (max-width: 965px) {
    #sticky-footer {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -210px;
	overflow: hidden;
    }

    footer #footer-menu {
    	margin: 0 auto;
	max-width: 100%;
    }
}

#main {
    padding: 25px;
    padding-top: 10px;
}

.fotorama {
    margin-bottom: 3em;
}

.hr {
    clear: both;
    text-align: center;
    margin: 2.5em 0;
    i {
	margin: 0 10px;
    }
}

.pagination {
    padding-top: 20px;
    margin-top: 5em;
    span {
	margin: 0 2px;
    }
}

#admin-bar {
    float: right;
    li {
	margin-left: 10px;
    }
}

.adm {
    .post-control {
	margin-bottom: 10px;
	li {
	    margin-right: 10px;
	}
    }

    ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
	    display: inline;
	}
    }
    a {
	color: #c58d94;
	text-decoration: none;
	border-bottom: none;

	&:visited {
	    color: #c58d94;
	    text-decoration: none;
	}
	&:hover {
	    color: #ce5160;
	}
    }

}

@import 'pages';
@import 'posts';
@import 'trips';
