@import 'normalize-rails';

@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700");

@import 'variables';
@import 'mixins';
@import 'tags';
@import 'github';
@import 'header';
@import 'footer';

#layout {
  margin: 0px auto 65px auto;
  padding: 10px 25px;
  max-width: 983px;
}

.pagination {
  padding-top: 20px;
  margin-top: 5em;
  span {
	margin: 0 2px;
  }
}

#admin-bar {
  float: right;
  li {
	margin-left: 10px;
  }
}

.adm {
  .post-control {
	margin-bottom: 10px;
	li {
	  margin-right: 10px;
	}
  }

  ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
	  display: inline;
	}
  }
  a {
	color: #c58d94;
	text-decoration: none;
	border-bottom: none;

	&:visited {
	  color: #c58d94;
	  text-decoration: none;
	}
	&:hover {
	  color: #ce5160;
	}
  }

}

.pseudo {
  border-bottom-style: dashed;

  &:visited {
	color: #5ab3ee;
	border-bottom: 1px solid rgba(90, 179, 238, 0.2);
  }

  &:hover {
	border-bottom-style: dashed;
  }
}

@import 'pages';
@import 'posts';
@import 'trips';
