.project-list {
  padding: 0 30px 0 0;
}

.project__release-date {
  font-size: $fontSmall;
  color: #797979;
}

.project,
.article-list {
  margin-bottom: 27px;
}

.article-list {
  line-height: 27px;
}

.article-list__item {
  display: flex;
}

.article-list__post-date {
  float: left;
  min-width: 94px;
  color: #656565;
  font-size: $fontSmall;
}

.project-list,
.article-list {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

@media screen and (max-width: $viewportLarge) {
  .project-list {
    padding: 0;
  }

  .project-list,
  .article-list {
    width: 100%;
  }
}
