#mega {
  color: black;
  float: right;
  border-left: 1px solid #eeeeee;
  padding-left: 15px;
  display: none;

  img {
    float: left;
    margin-right: 1em;
  }

  h3 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-size: 108%;
    float: left;
  }

  .message a {
    color: #586c71;
    border-bottom: 1px solid rgba(113, 113, 113, 0.4);

    &:hover {
      color: #ee5a83;
      border-bottom: 1px solid rgba(238, 90, 131, 0.4);
    }
  }
}

#banner {
  margin-bottom: 2em;
  float: left;

  .content {
    margin: 0 auto;

    .avatar {
      margin-left: 36px;
      float: left;
      margin-top: 57px;
      position: relative;
      cursor: pointer;
      figure {
        margin: 0;
        img {
          @include box-shadow(2px 2px 2px #3a3a3a);
          @include transition(box-shadow 0.2s);
          border-top: 1px solid #302e2e;
          border-left: 1px solid #302e2e;
          border-right: 1px solid #666666;
          border-bottom: 1px solid #666666;
        }
        img.hovered {
          @include box-shadow(5px 5px 16px #313131);
          @include transition(box-shadow 0.2s);
          @include filter(brightness(110%));
          border-right: 1px solid #888888;
          border-bottom: 1px solid #888888;
          position: relative;
          left: -1px;
          top: -1px;
        }
      }
      .front, .back {
        @include transition-ease-in-out(0.4s);
        @include backface-visibility(hidden);
        position: absolute;
        top: 0;
        left: 0;
      }
      .front {
        @include transform-preserve-3d(0, 0);
      }
      .back {
        @include transform-preserve-3d(0, -180deg);
      }
    }

    .description {
      font-size: 105%;
      width: 70%;
      float: left;
    }
    .flip .front {
      @include transform(0, 180deg);
    }
    .flip .back {
      @include transform(0, 0);
    }
  }
}

#public_accounts {
  ul {
    list-style-type: none;
  }
}

#sidebar {
  width: 25%;
  float: left;
  font-style: italic;

  .timequote {
    text-align: center;
    font-family: $caption-font-stack;
    font-size: 85%;

    .text {
      padding-top: 10px;
      text-align: left;

      .quote {
        margin: 0 auto;
        max-width: 230px;
      }
    }
  }
}

#timeline {
  overflow: hidden;
  line-height: 150%;
  float: left;
  width: 70%;
  margin-left: 5%;

  h2 {
    border-bottom: 1px solid rgba(206, 206, 206, 0.21);
  }

  h4 {
    font-variant: small-caps;
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding-left: 2.7em;
    margin-top: 0.2em;
    line-height: 200%;

    li {
      position: relative;

      .new-badge {
        line-height: 100%;
        position: absolute;
        background: #ff5757;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        color: white;
        left: -40px;
        font-family: Minion Pro, Georgia, Times New Roman, serif;
        padding: 0px 4px;
        border-radius: 2px;
        top: 9px;
        font-size: 90%;
      }
    }
  }

  .section {
    margin-left: 1em;
  }

  .tag_list {
    font-size: 70%;
    margin-left: 0.7em;
    color: #cacaca;

    a {
      color: #cacaca;
      border-bottom: 1px solid rgba(202, 202, 202, 0.5);

      &:hover {
        color: #1a1a1a;
        border-bottom: 1px solid rgba(26, 26, 26, 0.3);
      }
    }
  }
}

#cv-block {
  margin: 0 auto;
  max-width: 1200px;
}

#cv-wrap {
  width: 62%;
  float: left;
}

#cv-download-wrap {
  width: 38%;
  float: left;
}

@media screen and (max-width: 965px) {
  #cv-wrap {
    width: 100%;
    #cv { margin-right: 0; }
  }

  #cv-download-wrap {
    width: 100%;

    #cv-download {
      max-width: none;
    }
  }
}


#cv {
  color: #0a313a;;
  background: image-url('notebook.png') #dfdfdf;
  border: 1px solid #bababa;
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  box-shadow: 2px 2px 3px #b5b5b5;
  max-width: 960px;
  padding: 0 25px;
  padding-bottom: 1.1em;
  margin-bottom: 1.5em;
  margin-right: 2em;

  div {
    line-height: 170%;
  }

  a {
    color: #242424;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  .head {
    margin-bottom: 25px;

    h2 {
      font-size: 270%;
      margin-top: 28px;
      margin-bottom: 30px;
      text-align: center;
    }

    .contacts {
      line-height: 167%;
      text-align: center;

      dd {
        margin: 0;
      }
    }
  }

  .year {
    float: right;
    text-align: right;
  }

  .exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;

    div {
      width: 100%;
    }

    .position {
      font-weight: 700;
    }
  }

  ul li {
    margin-bottom: 1em;
  }
}

#cv-download {
  max-width: 506px;

  h3 {
    margin-top: 0;
  }

  .link {
    clear: both;
    margin-bottom: 1.4em;
  }

  a span, .size {
    position: relative;
    top: 9px;
    white-space: nowrap;
  }

  a {
    line-height: 1;

    img {
      float: left;
      margin-right: 5px;
    }

    span {
      float: left;
      border-bottom: 1px solid rgba(90, 179, 238, 0.4);
      @include transition((color 0.25s ease-out, border-bottom 0.25s ease-out));
      color: #5ab3ee;
      text-decoration: none;
      border-bottom: 1px solid rgba(90, 179, 238, 0.4);

      &:hover, &:visited {
                 color: #ee5a83;
                 border-bottom: 1px solid rgba(238, 90, 131, 0.4);
               }
    }
  }

  .size {
    font-style: italic;
    margin-left: 5px;
    top: 7px;
  }

  #map {
    width: 100%;
  }
}
