#banner {
  .content {
    margin: 0 auto;

    .avatar {
      margin-left: 20px;
      float: left;
      margin-top: 8px;
      position: relative;
      cursor: pointer;
      figure {
        margin: 0;
        img {
          @include box-shadow(2px 2px 2px #3a3a3a);
          @include transition(box-shadow 0.2s);
          border-top: 1px solid #302e2e;
          border-left: 1px solid #302e2e;
          border-right: 1px solid #666666;
          border-bottom: 1px solid #666666;
        }
        img.hovered {
          @include box-shadow(5px 5px 16px #313131);
          @include transition(box-shadow 0.2s);
          @include filter(brightness(110%));
          border-right: 1px solid #888888;
          border-bottom: 1px solid #888888;
          position: relative;
          left: -1px;
          top: -1px;
        }
      }
      .front, .back {
        @include transition-ease-in-out(0.2s);
        @include backface-visibility(hidden);
        position: absolute;
        top: 0;
        left: 0;
      }
      .front {
        @include transform-preserve-3d(0, 0);
      }
      .back {
        @include transform-preserve-3d(0, -180deg);
      }
    }

    .description {
      font-size: 105%;
      font-family: $default-font-stack;
      line-height: 170%;
      width: 60%;
      float: left;
    }
    .flip .front {
      @include transform(0, 180deg);
    }
    .flip .back {
      @include transform(0, 0);
    }

    .wolf-emoji {
      cursor: pointer;
    }
  }
}

#public_accounts {
  ul {
    list-style-type: none;
  }
}

.article-timeline {
  padding-left: 5%;
  overflow: hidden;

  h4 {
    font-variant: small-caps;
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin-top: 0.2em;
    line-height: 200%;

    li {
      position: relative;
      display: flex;

      .new-badge {
        width: 60px;
      }

      .new-badge__label {
        line-height: 100%;
        background: #ff5757;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        color: white;
        padding: 0px 4px;
        border-radius: 2px;
      }
    }
  }

  .post-date {
    color: #656565;
    min-width: 60px;
    float: left;
  }
}

#cv-block {
  margin: 0 auto;
  max-width: 1200px;
}

#cv-wrap {
  width: 62%;
  float: left;
}

#cv-download-wrap {
  width: 38%;
  float: left;
}

@media screen and (max-width: 965px) {
  #cv-wrap {
    width: 100%;
    #cv { margin-right: 0; }
  }

  #cv-download-wrap {
    width: 100%;

    #cv-download {
      max-width: none;
    }
  }
}


#cv {
  color: #0a313a;;
  border: 1px solid #bababa;
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  box-shadow: 2px 2px 3px #b5b5b5;
  max-width: 960px;
  padding: 0 25px;
  padding-bottom: 1.1em;
  margin-bottom: 1.5em;
  margin-right: 2em;

  div {
    line-height: 170%;
  }

  a {
    color: #242424;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .head {
    margin-bottom: 25px;

    h2 {
      font-size: 270%;
      margin-top: 28px;
      margin-bottom: 30px;
      text-align: center;
    }

    .contacts {
      line-height: 167%;
      text-align: center;

      dd {
        margin: 0;
      }
    }
  }

  .year {
    float: right;
    text-align: right;
  }

  .exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;

    div {
      width: 100%;
    }

    .position {
      font-weight: 700;
    }
  }

  ul li {
    margin-bottom: 1em;
  }
}

#cv-download {
  max-width: 506px;

  h3 {
    margin-top: 0;
  }

  .link {
    clear: both;
    margin-bottom: 1.4em;
  }

  a span, .size {
    position: relative;
    top: 9px;
    white-space: nowrap;
  }

  a {
    line-height: 1;

    img {
      float: left;
      margin-right: 5px;
    }

    span {
      float: left;
      border-bottom: 1px solid rgba(90, 179, 238, 0.2);
      @include transition((color 0.25s ease-out, border-bottom 0.25s ease-out));
      color: #5ab3ee;
      text-decoration: none;
      border-bottom: 1px solid rgba(90, 179, 238, 0.2);

      &:hover,
      &:visited {
        color: #ee5a83;
        border-bottom: 1px solid rgba(238, 90, 131, 0.2);
      }
    }
  }

  .size {
    font-style: italic;
    margin-left: 5px;
    top: 7px;
  }

  #map {
    width: 100%;
  }
}


.activity {
  display: flex;
  width: 100%;
}

.activity__projects {
  margin-bottom: 50px;
}

.article-timeline__year {
  font-size: 110%;
}

.project-list {
  .project {
	line-height: 150%;
	max-width: 500px;

	dd {
	  margin: 0;
	}

	.release-date {
	  font-size: 90%;
	  color: #797979;
	}
  }
}
