.submit-btn {
  margin-top: 10px;
}

.post {
  line-height: 1.6;
  margin: 0 auto;

  ul {
	list-style-type: disc;
	margin: 16px 0;
	padding-left: 40px;
  }

  img {
	max-width: 100%;
  }

  pre {
	clear: both;
  }

  p {
    max-width: 800px;
  }

  code.hljs {
    font-family: $monoFontFamily;
  }

  .post-content {
	margin-top: 1em;
	clear: both;

	h2, h3, h4 {
	  clear: both;
	}
  }

  .figure {
	margin-bottom: 3em;
	text-align: center;

	img {
	  padding: 1px;
	  border: 1px solid #dddddd;
	  box-shadow: 1px 1px 2px #c7c6c6;
	}
	.caption {
	  margin-top: 9px;
	  font-style: italic;
      font-size: $fontSmall;
	}
  }

  .video {
	margin-bottom: 25px;
  }

  .center {
	text-align: center;
	img {
	  max-width: 85%;
	}
  }

  .right {
	float: right;
	margin-left: 25px;
  }

  .left {
	float: left;
	margin-right: 25px;
  }

  .borderless {
	img {
	  border: none !important;
	  box-shadow: none !important;
	}
  }

  .footnotes {
	font-size: $fontSmall;
  }
}

.published_at {
  color: #747474;
}

.post__textarea {
  width: 100%;
  min-height: 400px;
  font-family: monospace;
}
