#ace {
    height: 490px;
}


#post_markdown {
    display: none
}


.submit-btn {
    margin-top: 10px;
}

.post {
    line-height: 1.4;

    img {
	max-width: 100%;
    }

    #disqus_thread {
	margin-top: 3em;
    }

    .post-content {
	margin-top: 1em;
	clear: both;

	h2, h3, h4 {
	    clear: both;
	}
    }

    .figure {
	margin-bottom: 3em;
	img {
	    max-width: 85%;
	    padding: 1px;
	    border: 1px solid #dddddd;
	    @include box-shadow(1px 1px 2px #c7c6c6);
	}
	.caption {
	    margin-top: 9px;
	    font-style: italic;
	}
    }

    .center {
	text-align: center;
    }

    .left {
	float: left;
    }

    .published_at {
	float: left;
	margin-right: 2em;
	&:hover {
	    cursor: help;
	}

	.date {
	    overflow: hidden;
	    float: left;
	}
    }
    .published_at, .tags {
	color: #747474;
	font-size: 85%;
    }

    .published_at i, .tags i {
	float: left;
	position: relative;
	top: 2px;
	margin-right: 5px;
    }
    .tags {
	a {
	    color: #747474;
	    border-bottom: 1px solid rgba(116, 116, 116, 0.25);
	    &:hover {
		color: #000;
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	    }
	}
    }
}
