.project-list {
  .project {
	line-height: 150%;
	max-width: 500px;

	dd {
	  margin: 0;
	}

	.release-date {
	  font-size: 90%;
	  color: #797979;
	}
  }
}


#project-layout {
  max-width: 960px;
  margin: 0 auto;

  #project-sidebar-wrap {
	float: left;
	border-right: 1px solid #eeeeee;
	width: 20%;
	max-width: 280px;

	#project-sidebar {
	  margin-right: 1.5em;

	  h3 {
		margin-top: 1.22em;
		margin-bottom: 0.35em;
	  }

	  ul {
		margin: 0;
		padding: 0;

		li {
		  list-style-type: none;
		  line-height: 150%;
		}
	  }
	}
  }

  #project-block-wrap {
	margin: 0;
	float: left;
	width: 76%;
	margin-left: 1.5em;

	#project-block {
	  width: 100%;
	}
  }
}

@media screen and (max-width: 674px) {
  #project-layout {
	#project-sidebar-wrap {
	  width: 100%;
	  clear: both;
	  border-right: none;
	}
  }

  #project-block-wrap {
	width: 100% !important;
	margin-left: 0 !important;
  }
}
