#trip_markdown {
  display: none;
}

#timespan {
  color: #747474;
}

.trip-post {
  max-width: 1000px;
}

.trip-thumbnails {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: left;
  justify-content: space-around;
  width: 100%;
  text-align: center;

  .trip-thumb {
	max-width: 350px;
	min-width: 250px;
	margin-bottom: 2.5em;

	img {
	  cursor: pointer;
	  border: 1px solid #444444;

	  &:hover {
		@include transition((border 0.25s ease-out));
		border: 1px solid #ce5160;
	  }
	}

	.caption {
	  margin-top: 5px;

	  .highlighted {
		color: #ee5a83;
		border-bottom: 1px solid rgba(238, 90, 131, 0.4);
	  }
	}
  }
}
