---
layout: base
image: assets/images/web-app-manifest-512x512.png
---

<a href="/">
  <picture>
    <source srcset="/assets/images/kyrylo-silin@2x.webp 2x, /assets/images/kyrylo-silin.webp 1x" type="image/webp">
    <img src="/assets/images/kyrylo-silin.webp" alt="Kyrylo Silin's photo" width="48" height="48" loading="eager" style="float: left; margin: 0 1rem 1rem 0;">
  </picture>
</a>

<h1>Kyrylo Silin</h1>

<nav>
  <a href="/">About</a>
  <a href="/blog/">I Write</a>
  <a href="/travel/">I Go</a>
  <a href="/projects/">I Make</a>
  <a href="/archive/">I Did</a>
</nav>

<hr>

{{ content }}
