---
layout: base
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <a class="post-author" href="{{ '/' | relative_url }}" itemprop="author" itemscope itemtype="http://schema.org/Person" rel="author">
      <picture>
        <source srcset="{{ '/assets/images/kyrylo-silin@2x.webp?v=3' | relative_url }} 2x, {{ '/assets/images/kyrylo-silin.webp?v=3' | relative_url }} 1x" type="image/webp">
        <img class="author-avatar" src="{{ '/assets/images/kyrylo-silin.webp?v=3' | relative_url }}" alt="" width="48" height="48">
      </picture>
      <meta itemprop="name" content="{{ site.author.name | escape }}">
      {% include author-logo.html %}
    </a>

    <p class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </p>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  <div class="article" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<aside class="post-about" aria-label="About the author">
  <p><a class="post-about-author" href="{{ '/' | relative_url }}">{% include author-logo.html %}</a><br>{{ site.tagline }}.</p>
  {% include social-links.html %}
</aside>

{% if page.previous or page.next %}
<nav class="post-navigation" aria-label="More posts">
{% if page.previous %}
    <a class="post-navigation-link" href="{{ page.previous.url | relative_url }}" rel="prev">
      <span class="post-navigation-label">&larr; Previous</span>
      <span class="post-navigation-title">{{ page.previous.title | escape }}</span>
    </a>
{% endif %}
{% if page.next %}
    <a class="post-navigation-link post-navigation-next" href="{{ page.next.url | relative_url }}" rel="next">
      <span class="post-navigation-label">Next &rarr;</span>
      <span class="post-navigation-title">{{ page.next.title | escape }}</span>
    </a>
{% endif %}
</nav>
{% endif %}
