---
layout: base
image: assets/images/web-app-manifest-512x512.png
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>

    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      |
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <picture>
          <source srcset="{{ "/assets/images/kyrylo-silin.webp" | relative_url }} 2x, {{ "/assets/images/kyrylo-silin.webp" | relative_url }} 1x" type="image/webp">
          <img src="{{ "/assets/images/kyrylo-silin.webp" | relative_url }}" alt="Kyrylo Silin" width="15" height="15">
        </picture>
        <span itemprop="name">
          <a href="{{ '/' | relative_url }}">Kyrylo Silin</a>
        </span>
      </span>
      &middot;
      <a href="https://x.com/kyrylosilin" target="_blank">@kyrylosilin</a>
      &middot;
      <a href="https://bsky.app/profile/kyrylo.org" target="_blank">bluesky:@kyrylo.org</a>
    </p>
  </header>

  <div class="article" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<p>
  {% if page.previous %}
  <a href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title | truncate: 30 }}</a> &middot;
  {% endif %}
  <a href="{{ '/' | relative_url }}">Home</a>
  {% if page.next %}
    &middot; <a href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}">{{ page.next.title | truncate: 30 }} &rarr;</a>
  {% endif %}
</p>
