<footer class="footer">
  <%= image_tag 'rabbit.gif', size: '81x100', class: 'float-right footer__rabbit' %>
  <div class="speech-bubble float-right">
    <ul class="float-right">
      <li>
	This content is licenced under the
	<a href="https://creativecommons.org/licenses/by/4.0/" class="black-link">CC BY 4.0 licence</a>
      </li>
      <li>
	kyrylo.org <a href="https://github.com/kyrylo/kyrylo.org" class="black-link">launched</a>
	in August 2014
      </li>
      <li>
	Email: <span class="small-xx">&lt;</span>silin@this domain</a><span class="small-xx">&gt;</span>
      </li>
    </ul>
  </div>
</footer>
