footer#footer
  .content
    .extra-links
      #footer-menu
        ul
          li.item: a href="/about" About
          li.item: a href="/acknowledgements" Acknowledgements
          li.item: a href="/cv" Curriculum Vitae

      #powered-by
        ul
          li.item
            a> href="https://github.com/kyrylo/kyrylo.org" kyrylo.org
            ' is open source software. Available since August 2014
          li.item
            | This content is licensed under the&nbsp;
            a href="https://creativecommons.org/licenses/by/4.0/" CC BY 4.0 licence

    #contact-info
      table
        tr
          td.left Email:
          td.right
            span< &lt;
            a href="mailto:silin@kyrylo.org" silin@kyrylo.org
            span &gt;
        tr
          td.left Ring-a-Ding-Ding:
          td.right +380 63 254-60-65
        tr
          td
          td.right +380 98 909-30-34
