<footer class="footer">
  <div class="footer__left">
    <ul class="footer-menu">
      <li class="footer-menu__item">
        <a href="/cv" class="footer__link">Curriculum vit&aelig;</a>
      </li>
    </ul>

    <ul class="siteinfo">
      <li class="siteinfo__item">
        <a href="https://github.com/kyrylo/kyrylo.org" class="footer__link">kyrylo.org</a> is
        open source software. Launched in August 2014
      </li>
      <li class="siteinfo__item">
        This content is licenced under the
        <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 licence</a>
      </li>
    </ul>
  </div>

  <div class="footer__right">
    <ul class="contacts">
      <li><span class="contacts__label"></span></li>

      <li>
        <span class="contacts__label">Email:</span>
        <span>
          <span class="small-xx">&lt;</span><a href="mailto:silin@kyrylo.org">silin@kyrylo.org</a><span class="small-xx">&gt;</span>
        </span>
      </li>

      <li>
        <span class="contacts__label">Elsewhere:</span>
        <span>
          <a class="contacts__icon-link"
             href="https://github.com/kyrylo"
             title="GitHub profile - kyrylo">
            <%=
              image_tag 'github.svg',
              class: 'contacts__social-icon',
              alt: 'GitHub profile - kyrylo',
              data: { 'no-retina' => true }
            %>
          </a>

          <a class="contacts__icon-link"
             href="https://twitter.com/kyrylosilin"
             title="Twitter profile - kyrylosilin">
            <%=
              image_tag 'twitter.svg',
              class: 'contacts__social-icon',
              alt: 'Twitter profile - kyrylosilin',
              data: { 'no-retina' => true }
            %>
          </a>
        </span>
      </li>
    </ul>
  </div>
</footer>
