<header class="header">
  <%= link_to_unless_current site_title, root_path %>

  <% if current_user %>
    <div id="admin-bar" class="adm">
      <ul>
        <li><%= link_to '[new post]', new_post_path %></li>
        <li><%= link_to '[new trip]', new_trip_path %></li>
        <li>
          <%= link_to '[sign out]', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  <% end %>
</header>
